* {
  box-sizing: border-box;
}

section {
  margin-top: 50px;
}

img {
  width: 30%;
}
h1 {
    text-align: center;
}

#submit-pic{
    text-align: center;
}
input{
    width: 10%;
    text-align: center;
}